---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=en&user=-vdE38oAAAAJ&view_op=list_works&gmla=ABOlHixm5auLtbnRK72mfyKPNneo3JfjP69NZp_VZPg2soz7Q85doGSrSyPfRKWPXsGHGTin2fAzjN47_GFkJbP5}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?hl=en&user=-vdE38oAAAAJ&view_op=list_works&gmla=ABOlHixm5auLtbnRK72mfyKPNneo3JfjP69NZp_VZPg2soz7Q85doGSrSyPfRKWPXsGHGTin2fAzjN47_GFkJbP5">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}
<!-- List of Publications -->
<h2>Selected Publications</h2><hr />

<ul>
  <li><strong>Characterization of the Mucosal Microbiota in Patients with Nodular Lymphoid Hyperplasia with Concurrent Irritable Bowel Syndrome Compared to Healthy Controls</strong><br>
    <em>Molecular Biology Reports</em>, Springer, 2023.<br>
    <a href="https://doi.org/10.1007/s11033-022-07974-1">DOI: 10.1007/s11033-022-07974-1</a>
    </li>
    <br>

    <li><strong>Characterization of Vaginal <em>Lactobacillus</em> Species as a Predictor of Fertility Among Iranian Women with Unexplained Recurrent Miscarriage Using Machine Learning Modeling</strong><br>
      <em>Molecular Biology Reports</em>, Springer, 2023.<br>
      <a href="https://doi.org/10.1007/s11033-023-08745-2">DOI: 10.1007/s11033-023-08745-2</a>
    </li>
    <br>

    <li><strong>The Human Oral Microbiota: A Gateway to Pancreatic Health and Disease and Revolutionary Therapeutic Strategies</strong><br>
      <em>Submitted to Trends in Molecular Medicine</em>, 2024.<br>
      *Currently under review*
    </li>
    <br>

    <li><strong>Protective Effects of Live and Pasteurized <em>Lactobacillus crispatus</em> Strain RIGLD-1 Against Non-Alcoholic Steatohepatitis Induced in HepG2 Cells</strong><br>
      <em>Under review in Molecular Biology Reports</em>, Springer, 2024.<br>
      *Currently under review*
    </li>
    <br>
  
    <li><strong>Inhibitory Effects of Probiotic <em>Levilactobacillus brevis</em> IBRC-M10790 and Its Membrane Vesicles on Apoptosis and Inflammation Induced by <em>Clostridioides difficile</em> in Intestinal Epithelial Cells</strong><br>
      <em>BMC Microbiology</em>, Springer, 2023.<br>
      <a href="https://doi.org/10.1007/s11033-023-08745-2">DOI: 10.1007/s11033-023-08745-2</a>
    </li>
    <br>

  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


