---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

### Publications

- **Characterization of the Mucosal Microbiota in Patients with Nodular Lymphoid Hyperplasia with Concurrent Irritable Bowel Syndrome Compared to Healthy Controls**  
  *Molecular Biology Reports*, Springer, 2023.  
  [DOI: 10.1007/s11033-022-07974-1](https://doi.org/10.1007/s11033-022-07974-1)

- **Characterization of Vaginal *Lactobacillus* Species as a Predictor of Fertility Among Iranian Women with Unexplained Recurrent Miscarriage Using Machine Learning Modeling**  
  *Molecular Biology Reports*, Springer, 2023.  
  [DOI: 10.1007/s11033-023-08745-2](https://doi.org/10.1007/s11033-023-08745-2)

- **The Human Oral Microbiota: A Gateway to Pancreatic Health and Disease and Revolutionary Therapeutic Strategies**  
  *Submitted to Trends in Molecular Medicine*, 2024.  
  *Currently under review*

- **Protective Effects of Live and Pasteurized *Lactobacillus crispatus* Strain RIGLD-1 Against Non-Alcoholic Steatohepatitis Induced in HepG2 Cells**  
  *Under review in Molecular Biology Reports*, Springer, 2024.  
  *Currently under review*

- **Inhibitory Effects of Probiotic *Levilactobacillus brevis* IBRC-M10790 and Its Membrane Vesicles on Apoptosis and Inflammation Induced by *Clostridioides difficile* in Intestinal Epithelial Cells**  
  *BMC Microbiology*, Springer, 2023.  
  [DOI: 10.1007/s11033-023-08745-2](https://doi.org/10.1007/s11033-023-08745-2)

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
